@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inconsolata:wght@200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root{
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-gray: hsl(236, 13%, 42%);
    --very-dark: hsl(240, 100%, 5%);
    --p-size: 15px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    padding: 10px;
    min-height: 100vh;
    min-height: 100dvh;
}
.logo, .menu, .cancel{
    width: 30px; height: 35px;
}
img{
    width: 100%;
}
ul{
    list-style-type: none;
}
.desktop-nav{
    display: none;
}
header{
    display: flex;
    justify-content: space-between;
}
.real-nav{
    display: none;
}
main{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.first-section{
    margin-top: 10px;
    display: grid;
    gap: 15px;
}
picture{
    width: 100%;
}
h1{
    max-width: 400px;
    font-size: 3.5rem;
    /* text-wrap: balance; */
}
p{
    font-size: var(--p-size);
}
.menu:hover{
    cursor: pointer;
}
.read-more p{
    line-height: 2;
}
.read{
    margin-top: 10px;
    padding: 10px 25px;
    background-color: var(--soft-red);
    border: none;
    font-size: large;
    font-weight: 600;
    text-transform: uppercase;
}
.read:hover{
    cursor: pointer;
    background-color: black;
    color: var(--off-white);
}
.news-table{
    background-color: var(--very-dark);
    padding: 10px;

}
.news-table h2{
    color: var(--soft-orange);
}
.news-table h3{
    color: var(--off-white);
}
.news-table p{
    color: var(--grayish-blue);
}

td{
    border-bottom: 1px solid var(--grayish-blue);
    padding: 20px 0px;
    border-collapse: collapse;
}
table > td:last-child{
    border-bottom: none;
}
.more-info{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.inside-info{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.more-info img{
    width: 90px;
}
.more-info > div{
    display: flex;
    gap: 15px;
}
.number{
    color: var(--soft-red);
    font-size: 20px;
    font-weight: bolder;
}
.standout{
    font-weight: bolder;
    font-size: 15px;
}
.more-info p{
    max-width: 220px;
    color: var(--grayish-blue);
    line-height: 1.5;
}
.display-flex{
    display: flex;
}
.new-bar{
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 350px;
    gap: 60px;
    background-color: white;
    padding: 15px;
    z-index: 4;
}

.nav-bar ul{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.nav-bar ul li:hover{
    cursor: pointer;
    color: var(--soft-orange);
}
.cancel{
    align-self: flex-end;
}
.cancel:hover{
    cursor: pointer;
}
.overlay{
    position: fixed;
    display: none;
    inset: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 2;
}
.display-block{
    display: block;
}
.news-table p{
    line-height: 2;
}
table tr:last-child td{
    border-bottom: none;
}

@media (min-width: 651px){

    .mobile-nav{
        display: none;
    }
    .desktop-nav{
        display: block;
    }
    .desktop-nav ul{
        display: flex;
        gap: 20px;
        transition: all 0.3s ease;
    }

    .desktop-nav ul li:hover{
        cursor: pointer;
        color: var(--soft-orange);
    }
    .overlay{
        display: none;
    }

    picture{grid-area: picture;}
    h1{grid-area: heading;}
    .read-more{grid-area: read;}
    .news-table{grid-area: news;}

    .first-section{
        grid-template-columns: repeat(3, minmax(200px, 300px));
        grid-template-areas: 
        'picture picture news'
        'heading read news';
    }
    .more-info{
        margin-top: 15px;
        display: grid;
        grid-template-columns: repeat(3, minmax(200px, 300px));
    }
    body{
        align-items: center;
        justify-content: center;
    }

}